/*  google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*  common styles */
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 10px 24px;
  background: #e02c6d;
  width: 173px;
  height: 44px;
  margin-top: 27px;
  text-decoration: none;
  transition: transform 5s, background-color ease 5s;
}
.button:hover {
  transform: scale(1.2);
  background-color: black;
}
.fas.fa-arrow-right {
  color: white;
}
.button p {
  color: white;
  margin-right: 10px;
}
h1 {
  font-size: 64px;
  color: white;
  margin: 0px;
}
h2 {
  font-size: 48px;
  margin: 0px;
}
h3 {
  font-size: 28px;
}
hr {
  width: 60%;
  height: 5px;
  background-color: rgba(62, 59, 59, 0.793);
}
.orange-color {
  color: orange;
}

/*  header styles */
header {
  background-color: #2d25a0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}
header:hover .banner {
  transform: rotate(10deg);
  overflow: hidden;
}

.header-title {
  margin-left: 156px;
  margin-right: 102px;
}
.banner {
  transition: transform 3s;
  position: relative;
}
.banner img {
  width: 556.01px;
  height: 438px;
}

/*  players section styles  */

.players-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 458px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 8px 7.5px;
}

.player-img img {
  width: 300px;
  height: 256px;
}
.player-info h3 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: bold;
}
.player-info p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.player-info {
  width: 300px;
}

/* highlights section styles */

.highlights-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10%;
}

.highlight-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.highlight-img img {
  width: 567px;
  height: 427px;
}

/* Moments section styles */

.moments-video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}
.moments-header {
  text-align: center;
  margin-bottom: 10%;
}

/*  newsletter section styles*/

.news-section {
  background-color: #544bd9;
  margin-top: 100px;
  width: 60%;
  height: 40%;
  transition: background-color 2s linear;
}
.news-section:hover {
  background-color: grey;
}
.news {
  display: block;
  padding: 15%;
  text-align: center;
  color: white;
}
.news p {
  margin-bottom: 5%;
  margin-top: 5%;
}
.news-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: rgb(212, 231, 39);
  padding: 3%;
  transition: margin-left 2sec;
}
.news-btn:hover i {
  margin-left: 10px;
}
.news-btn:hover {
  color: white;
  background-color: #544bd9;
}

/* footer style */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 158px;
}

.footer-logo img {
  width: 483.87px;
  height: 110px;
}

/*  Media Queary For Mobile Devices */
/* For Mobile Screen */
@media only screen and (max-width: 688px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }

  /* header section */

  header {
    flex-direction: column;
  }
  .header-title {
    margin-left: 16px;
    margin-bottom: 50px;
  }
  .banner img {
    width: 329px;
    height: 259.17px;
  }

  /* player section  */

  .players-section {
    grid-template-columns: repeat(1, 1fr);
  }

  /* highlight section */

  .highlights-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .highlight-info {
    margin-left: 20%;
    margin-bottom: 10%;
  }

  .highlight-img {
    margin: 0 auto;
  }
  .highlight-img img {
    width: 328px;
    height: 248px;
  }

  /* Moments section */

  .moments-video {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2%;
  }

  /* footer section */

  .footer-logo img {
    width: 200px;
    height: 70px;
  }
}

/* For Tablets screen */
@media only screen and (max-width: 992px) and (min-width: 689px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  .banner img {
    width: 400px;
    height: 300px;
  }

  /* Player section */

  .players-section {
    grid-template-columns: repeat(2, 1fr);
  }

  /*  Moments section */

  .moments-video {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
  }

  /* highlight section */

  .highlight-img img {
    width: 358px;
    height: 258px;
  }
}
